body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: #ff6347;
    color: white;
    padding: 20px 0;
}
.logo{
    display: flex;
    margin: 20px;
    font-size: 40px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    

}
section {
    padding: 50px 20px;
}
.btn {
    background: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.menu-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}